.container
  max-width: 100%
  padding: 0 2em

header
  .container
    height: 65px
  a.back
    font-size: 14px
  .mobile-burger
    display: block
    background: #fff
    border: none
    outline: none
  .menu
    position: absolute
    left: 0
    top: 65px
    background: #fff
    width: 100%
    box-shadow: 0 10px 15px #00000030
    max-height: 0
    overflow: hidden
    transition: max-height 250ms linear
    &.visible
      max-height: 350px
    a
      display: block
      margin: 1em auto
      width: 70%
      &:not(:last-child)
        margin-right: auto


#home
  flex-direction: column
  padding: 2em 1em
  #blogs, #sidebar
    width: 100%
  #sidebar
    border-top: 1px solid #eeeeee
    margin-top: 2em
    .sidebar-search
      display: none

.sidebar-search
  display: flex
  margin-bottom: 2em
  

#blogs-list
  padding: 0 1em
  .blog-item
    a.title
      font-size: 24px
      line-height: 34px

#blog
  width: 100%
  margin: 2em 0
  .content
    width: 100%
  .in
    figure
      overflow: scroll

#sidebar-course
  padding: 10px

#footer
  .upper
    flex-direction: column
    section
      width: 100%
      text-align: center
      margin-bottom: 2.4em
      a
        margin-top: .6em
      img
        width: 65%
  .cr, .logo > img
    display: none
  .socials
    margin: auto