@import normalize
@import fonts
@import colors
@import theme

header
  box-shadow: 0 10px 15px rgba(0,0,0,.05)
  .container
    height: 74px
  .flex
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    height: 100%
  .logo
    img
      width: 100px

#home 
  display: flex
  padding: 2em 0
  #blogs
    width: 75%
  #sidebar
    width: 25%